[submodule "output"]
	path = output
	url = https://github.com/rugebiker/rugebiker.github.io.git
[submodule "themes/MinimalXY"]
	path = themes/MinimalXY
	url = https://github.com/petrnohejl/MinimalXY.git
